extends layout

block css
    link(rel='stylesheet', href='/css/dashboard/index.css')

block js
    script(src='/js/dashboard/index.js')

block content

    #devices
        h1 Δεδομένα απο  #{devices.length} συσκεύες
        .row
            .col-lg-12
                each device in devices
                    a.device(href="javascript:void(0)" data-id="#{device}") συσκευή: #{device.replace(/^0+/,"")}

    hr
    #results
        .state.loading.text-dcenter
            img(src='images/loading.gif')
        .state.results
            p#results-info
                span
                a#export.btn.btn-default.pull-right(href="/dashboard/measurements/export/") Κατέβασμα σε excel
            table.table.table-striped
                thead
                    tr
                        th #
                        th Θερμοκρασία
                        th Ημερομηνία
                tbody
                    each temp,index in measurements
                        tr
                            td= index
                            td= temp.data
                            td= temp.createdAt


        .state.no-results
            p Δε βρέθηκαν δεδομένα για αυτήν τη συσκευή




